DEVELOPING.md filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
packaging filter=lfs diff=lfs merge=lfs -text
vcnet filter=lfs diff=lfs merge=lfs -text
configure filter=lfs diff=lfs merge=lfs -text
CREDITS.md filter=lfs diff=lfs merge=lfs -text
install-sh filter=lfs diff=lfs merge=lfs -text
Makedefs.in filter=lfs diff=lfs merge=lfs -text
notifier filter=lfs diff=lfs merge=lfs -text
cgi-bin filter=lfs diff=lfs merge=lfs -text
conf filter=lfs diff=lfs merge=lfs -text
doc filter=lfs diff=lfs merge=lfs -text
examples filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_LGPL filter=lfs diff=lfs merge=lfs -text
post_update.sh filter=lfs diff=lfs merge=lfs -text
templates filter=lfs diff=lfs merge=lfs -text
CHANGES.md filter=lfs diff=lfs merge=lfs -text
config.guess filter=lfs diff=lfs merge=lfs -text
config-scripts filter=lfs diff=lfs merge=lfs -text
cups filter=lfs diff=lfs merge=lfs -text
tools filter=lfs diff=lfs merge=lfs -text
berkeley filter=lfs diff=lfs merge=lfs -text
config.h filter=lfs diff=lfs merge=lfs -text
locale filter=lfs diff=lfs merge=lfs -text
test filter=lfs diff=lfs merge=lfs -text
monitor filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
ppdc filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
backend filter=lfs diff=lfs merge=lfs -text
cups-config.in filter=lfs diff=lfs merge=lfs -text
desktop filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
scheduler filter=lfs diff=lfs merge=lfs -text
systemv filter=lfs diff=lfs merge=lfs -text
xcode filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
config.h.in filter=lfs diff=lfs merge=lfs -text
configure.ac filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING.md filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
Makefile filter=lfs diff=lfs merge=lfs -text
man filter=lfs diff=lfs merge=lfs -text
config.sub filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
filter filter=lfs diff=lfs merge=lfs -text
INSTALL.md filter=lfs diff=lfs merge=lfs -text
